.map-container {
  display: flex;
  height: 1000px; 
}

.map-canvas {
  flex: 1;
}

.places-list {
  width: 400px; 
  overflow-y: auto;
  padding: 10px;
  background-color: #f8f9fa;
}

.places-list h3 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.places-list-items {
  list-style-type: none;
  padding: 0;
}

.place-item {
  font-size: 1.2rem; 
  padding: 10px;
  margin-bottom: 5px;
  background-color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.place-item:hover {
  background-color: #e9ecef;
}